
.vs/BellTest/v15/.suo
*.dll
*.exe
*.lock
*.xml
bin/Debug/QSharpApplication3.pdb
.vs/BellTest/v15/Server/sqlite3/storage.ide
*.nupkg
*.props
*.targets
*.config
QuantumSim/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
QuantumSim/Properties/AssemblyInfo.cs
*.txt
*.pdb
*.cache
*._
QuantumSim/Bell.csproj
QuantumSim/obj/Debug/Bell.csproj.CopyComplete
QuantumSim/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
QuantumSim/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
QuantumSim/obj/qsharp/src/Bell.g.cs
